<div class="container my-3">

    <div class="d-flex flex-column align-items-center">
        <h5>Rechercher une cryptomonnaie :</h5>
        <input class="form-control w-50" type="text" name="coinsName" [(ngModel)]="search">
    </div>

    <div class="row gap-3 justify-content-center my-5">

        <div class="card col-3" *ngFor="let coin of coins | filter: search">
            <div class="card-header">
                {{ coin.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ coin.symbol }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Classement : {{ coin.rank }} </h6>
                <p class="card-text">Prix : {{ coin.priceUsd | number: '1.0-0' }} USD</p>

                <p *ngIf="coin.changePercent24Hr >= '0'" class="card-text text-success">
                    Variation sur 24h : {{ coin.changePercent24Hr | number: '1.4-4' }} %
                </p>
                <p *ngIf="coin.changePercent24Hr < '0'" class="card-text text-danger">
                    Variation sur 24h : {{ coin.changePercent24Hr | number: '1.4-4' }} %
                </p>

                <div class="text-end">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#coinsModal" (click)="selectCoin(coin)">
                        Voir
                    </button>
                </div>

            </div>
            <div class="card-footer">
                <a href="{{ coin.explorer }}" target="_blank">Site</a>
            </div>
        </div>
    </div>
</div>

<app-coins-modal [coinModal]="coin"></app-coins-modal>